<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <title>KOMUNALKA</title>
</head>
<body>
{% block header %}
    {% if user.is_authenticated %}
        <h1>{{ user.username }} _____ {{ user.id }}</h1>

    {% else %}
        <h1>Вы не авторизированый пользователь</h1>
    {% endif %}

    <div><a href="{% url 'home' %}">Home</a></div>
    {% if not user.is_authenticated %}
        <div><a href="{% url 'login' %}">Login</a></div>
        <div><a href="{% url 'register' %}">SIGN in</a></div>
    {% else %}
        <div><a href="{% url 'logout' %}">Logout</a></div>
        <div><a href="{% url 'kd_list' %}">Список данных</a></div>
        <div><a href="{% url 'adress_list' %}">Мои адреса</a></div>
        <div><a href="{% url 'repayment_create' %}">Новая оплата задолженности</a></div>
    {% endif %}
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>