body {
    background-image: url("https://img.freepik.com/premium-photo/savings-electricity-reducing-the-payment-of-utility-bills-a-incandescent-lamp-calculator_486502-1276.jpg");
    /*background: url("http://127.0.0.1:8000/files///D:/Images/car.jpg");*/
    background-size: 100%;
    /*background-color: #029e74;*/
}
.newdata {
    width: 35%;
    margin: 15px 0px;
    padding: 20px;
    background-color: lightgreen;
    opacity: 80%;
}
.kdata_obj {
    margin-top: 15px;
    border: 1px solid yellow;
}
.adress_obj {
    color: darkred;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    line-height: 17px;
    font-weight: bold;
}